.log-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.log-inner {
  width: 450px;
  margin: auto;
  background-color: hsl(120, 17%, 53%);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
}
.log {
  background-image: url("awesomelogo2.png");
  background-repeat: no-repeat;
  background-position: 0%;
  margin-top: 0%;
  height: 100%;
}

.dash {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  font-size: 15px;
}

@media screen and (max-width:300px) {
  .dash {
    width: auto;
    margin: auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    font-size: 17px;
  }
  
}

table {
  background-color: hsl(120, 17%, 53%);
  color: rgb(253, 253, 253);
  text-align: left;
  border-spacing: 10px;
  margin-top: 10%;
  border-left-color: rgb(255, 255, 255);
  align-items: center;
  border-radius: 15px;
  font-size: 17px;
  text-decoration: underline;
}
form{
  border-radius: 15px;
  padding:2%
}
#button {
  margin-top: 1%;
  display: flex;
  justify-content: end;
}

th {
  border-bottom: 1px solid rgb(0, 0, 0);
}

tr:nth-child(even) {
  background-color: rgb(161, 197, 161);
  color: rgb(0, 0, 0);
}

button {
  border: 0;
  border-radius: 7px;
  color: #000000;
  cursor: pointer;

  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.3;
  outline: transparent;
  padding: 0 0.5rem;
  margin-left: 1.5px;
  margin-right: 1.5px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(53, 54, 53, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(82, 82, 82, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

Button{
  font-size: 12px;
 align-items: flex-end;
  
  
}

#nav{
  background-color: hsl(120, 17%, 53%);
  height: 5vh;
  padding-top: 4px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
}
#name{
  width: 100%;
  flex-direction: row;
}

#logout{
 float: right;
 margin-right: 5px;
 
}


